.swiper-button-next,
.swiper-button-prev {
  width: 20px !important;
  height: 20px !important;

  &::after {
    font-size: 18px !important;
  }
}


.swiper-pagination {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 5rem;
}

.dd {
  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background: rgba(255, 255, 255, 0.5) !important;
  }

  .swiper-pagination-bullet-active {
    width: 20px !important;
    background: #fff !important;
    border-radius: 20%;
  }
}