.sidebar_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    box-shadow: 4px 1px 6px rgb(219 219 219 / 25%);
    height: 100vh;
    // position: fixed;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    top: 0;
    left: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    .sidebar_menu_list_wrapper {
        width: 100%;
        z-index: 25;
        background-color: #fff;
        height: 100vh;
    }

    .navbar_item {
        border-bottom: 0.5px solid #D0D0D0;
        padding: 24px 8px 8px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;


        &:last-child {
            border-bottom: none;
        }

        .menu-text {
            font-size: 0.8rem;
            line-height: 1rem;
            font-weight: 500;
            transition: 0.3s;

        }

        &:hover {
            background-color: #00AF9E;
            border-bottom: 0.5px solid #00AF9E;
            color: #fff;
            transition: 0.3s;

            &:last-child {
                border-bottom: none;
            }

        }


    }

    .active_side_Menu {
        background-color: #00AF9E;
        border-bottom: 0.5px solid #00AF9E;
        transition: 0.4s;

        .menu-text,
        svg {
            color: #fff;
            transition: 0.3s;
        }
    }

    .side_category_click {
        background: #41BEBE;

        svg,
        .menu-text {
            color: #fff;
        }
    }
}