.fullCategory {
    padding: 0rem 8.6rem;
    position: relative;
    z-index: 0;
    margin-bottom: 4rem;
    height: 100%;
    overflow: hidden;



    .mainCategory {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;

        .categorySearchBox {
            font-family: 'Inter', FontAwesome;
            font-size: 1.1rem;
            background: #F0F0F0;
            border-radius: 10px;
            border: none;
            padding: 20px 32px;
            outline: none;
            width: 100%;
        }

        .leftSide {
            width: 25%;
            z-index: 10;

            .allButton {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                margin-top: 1.87rem;
                gap: 1.4rem;
                position: relative;
                height: 60vh;
                overflow-y: auto;
                user-select: none;

                @media screen and (max-width:688px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    height: 15vh;
                    overflow-y: auto;
                }

                button {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    text-align: left;
                    cursor: pointer;
                    color: #07484A;
                    transition: 0.4s;
                    position: relative;

                    &::after {
                        top: 0;
                        right: 2px;
                        margin-right: 5px;
                    }

                    @media screen and (max-width:688px) {
                        &::after {
                            display: none;
                        }
                    }
                }

                .active {
                    font-weight: bold;
                    position: relative;

                    // &::after {
                    //     height: 30px;
                    //     border-right: 5px solid #70908B;
                    //     content: '';
                    //     position: absolute;
                    //     right: 0px;
                    //     z-index: 5;
                    //     border-radius: 5px;
                    // }
                }
            }

            @media screen and (max-width:688px) {
                width: 100%;

                .active {
                    font-weight: bold;

                    &::after {
                        display: none;
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #0f989d;
            border-radius: 5px;
        }

        @media screen and (min-width:689px) and (max-width:992px) {
            .rightSide {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.25rem;
                height: 80vh;
                overflow-y: auto;
            }
        }

        @media screen and (max-width:688px) {
            flex-direction: column;

            .rightSide {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1.25rem;
                height: 60vh;
                overflow-y: auto;
            }
        }

    }

    @media screen and (min-width:689px) and (max-width:992px) {
        padding: 0px 15px;
        margin-bottom: 3.6rem;
    }

    @media screen and (max-width:688px) {
        padding: 0px 15px;
        margin-bottom: 3.6rem;
    }

    // .swiper.swiper-initialized.swiper-vertical.categorySwiper {
    //     height: 400px;

    //     @media screen and (min-width:689px) and (max-width:992px) {
    //         height: 300px;
    //     }
    // }


}