.scrollbar-design::-webkit-scrollbar {
    width: 5px;
}

.scrollbar-design::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.scrollbar-design::-webkit-scrollbar-thumb {
    background: #0f989d;
    border-radius: 5px;
}