.slider_wrapper {
    position: relative;

    .slider_content {
        position: absolute;
        top: 60px;
        left: 90px;
        color: #fff;

        @media screen and (max-width: 576px) {
            left: 40px;
        }

        h1,
        h4 {
            font-size: 1.9rem;
            font-weight: 300;
            line-height: 1.9rem;
            margin-bottom: 20px;

            @media screen and (max-width: 576px) {
                font-size: 1rem;
                line-height: 1.2rem;
                margin-bottom: 12px;
            }
        }

        h2 {
            font-size: 3.5rem;
            line-height: 4rem;
            font-weight: 700;
            margin-bottom: 20px;

            @media only screen and (max-width: 1211px) and (min-width: 769px) {
                font-size: 2.8rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 2rem;
                line-height: 3rem;
            }

            @media screen and (max-width: 576px) {
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 10px;
            }
        }
    }

    .slider_image {
        img {
            object-fit: fill;
            width: 100%;
            height: 460px;

            @media screen and (max-width: 1600px) {
                height: 316px;
            }
        }
    }
}

.hero_slider.rounded {
    // height: 315px;

    @media screen and (max-width: 768px) {
        height: auto;
    }
}