$clouds: #e5e9ea;
$night: #283a4d;
$midnight: #b7b8b9;
$transition: all .5s ease;

#chck {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.check-trail {
    display: flex;
    align-items: center;
    width: 3.4em;
    height: 1.5em;
    background: $midnight;
    border-radius: 2.5em;
    transition: $transition;
    cursor: pointer;
}

.check-handler {
    display: flex;
    margin-left: 0.2em;
    justify-content: center;
    align-items: center;
    width: 1.3em;
    height: 1.3em;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: $transition;
}

#chck:checked+.check-trail {
    background: gray;

    .check-handler {
        margin-left: 60%;
        background: rgb(255, 253, 253);
    }
}