// .dropdown-menu {
//     width: 100%;

//     .dropdown-btn {
//         color: white;
//         display: block;
//     }

//     .slide {
//         height: 0px;
//         transition: height 0.4s ease;

//         li {
//             visibility: hidden;
//             transition: 0.1s;
//         }
//     }

//     #touch {
//         opacity: 0;
//         height: 0px;
//     }

//     #touch:checked+.slide {
//         height: 50px;
//         display: block;

//         li {
//             visibility: visible;
//         }
//     }

// }