.easierToChooseHeading,
.productsHeading {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;

    .heading_right_side {
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: center;

        a {
            color: #0F5684;
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 1rem;
            transition: .3s;

            &:hover {
                color: var(--aide_theme);
                transition: .3s;
            }
        }

        .slider_navigation {
            display: flex;
            align-items: center;
            gap: 3px;

            div {
                cursor: pointer;
                // padding: 4px 3px 0px;
            }
        }
    }


    .heading_area {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        gap: 12px;

        h2 {
            font-size: 18px;
            font-weight: 600;
            color: #212121;
            position: relative;

            @media screen and (max-width: 896px) {
                font-size: 16px;
            }

            @media screen and (max-width: 576px) {
                font-size: 14px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                border-bottom: 2px solid var(--aide_theme);
                bottom: -13px;
                left: 0;

                @media screen and (max-width: 576px) {
                    width: 168px;
                }
            }
        }

        h4 {
            background: rgba(82, 5, 123, 0.1);
            border-radius: 4px;
            padding: 6px 8px;
            font-weight: 300;
            color: #52057B;
            font-size: 0.9rem;
            line-height: 1rem;

            @media screen and (max-width: 576px) {
                display: none;
            }
        }
    }
}